body{
font-family: Arial, sans-serif;
background:#f5f5f5;
}

.ticket{
width:280px;
margin:auto;
background:white;
padding:10px;
font-size:12px;
}

.header{
text-align:center;
}

h1{
font-size:16px;
margin:0;
}

h2{
font-size:13px;
margin:3px 0 10px 0;
border-bottom:1px solid black;
padding-bottom:5px;
}

table{
width:100%;
border-collapse:collapse;
}

th{
border-bottom:1px dashed black;
padding:5px 2px;
font-size:11px;
}

td{
padding:3px 2px;
font-size:11px;
}

.right{
text-align:right;
}

.totales{
margin-top:10px;
border-top:1px solid black;
}

.total{
font-size:14px;
font-weight:bold;
border-top:2px solid black;
}

.gracias{
text-align:center;
margin-top:10px;
font-size:11px;
}
