body {
    font-family: Arial, sans-serif;
    background: #eee;
    margin: 0;
    padding: 20px;
}

#ticket {
    width: 300px; /* Ajustado al ancho que usas en AppSheet */
    margin: auto;
    background: white;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Forzar que las tablas ocupen todo el ancho aunque vengan de AppSheet */
table {
    width: 100% !important;
}
